// Desktop verzija

section {
    .highlighted-news {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 56px;
        padding-bottom: 56px;
        gap: 39px;
        border-bottom: solid 2.5px $text-color;

        .news-column {
            width: 33.33%;

            img {
                width: 100%;
            }

            .news-table {
                @extend %table;
            }

            .news {
                padding-top: 8px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                .news-btn {
                    @extend %news-btn;
                    padding: 8px 16px;
                    cursor: pointer;
                    font-size: 16px;
                  }
            }

        }
    }
}

// Mobilna verzija

@media only screen and (max-width: 920px) {
    section {
        .highlighted-news {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 26px;
            gap: 26px;
    
            .news-column {
                width: 100%;
    
                img {
                    width: 100%;
                }
    
                .news {
                    padding-top: 8px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
    
                }
    
            }
        }
    }
}